<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.studio.android.com.android_participant_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="app.studio.android.com.android_participant_app.ViewParcelUnitActivity"></activity>
        <activity android:name="app.studio.android.com.android_participant_app.CreateParcelUnitActivity" />
        <activity android:name="app.studio.android.com.android_participant_app.CodeSubmitActivity" />
        <activity
            android:name="app.studio.android.com.android_participant_app.CodeScanActivity"
            android:launchMode="singleInstance" />
        <activity android:name="app.studio.android.com.android_participant_app.CoopHomeActivity" />
        <activity android:name="app.studio.android.com.android_participant_app.LoginActivity" />
        <activity android:name="app.studio.android.com.android_participant_app.CardImportActivity" />
        <activity
            android:name="app.studio.android.com.android_participant_app.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>